/* @import url(./styles/fonts.css); */
@import url(./styles/media.css);

@import url(./styles/reset_styles.css);

@import url(./styles/header.css);
@import url(./styles/burger_menu.css);
@import url(./styles/main.css);
@import url(./styles/products.css);
@import url(./styles/gallery.css);
@import url(./styles/recipes.css);
@import url(./styles/footer.css);
@import url(./styles/modal_contact-us.css);
@import url(./styles/modal_buy-products.css);
@import url(./styles/modals_common.css);
@font-face {
    font-family: "Monteserrat";
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    background: #100f0f;
    color:#f3f3f3;
    font-size: 16px;
    font-family: "Monteserrat";    
    }


.wrapper {
    margin: 0 auto;
}



