.recipes_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipes_list li iframe {
    width: 450px;
    height: 310px;
}

.recipes_list_desc {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.recipes_heading,
.products_heading,
.gallery_heading {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 70px 0;
}